<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Belajar Membuat Aplikasi Web Python</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='../static/css/style.css')}}"
    />
  </head>
  <body lang="en">
    <!-- <div id="container"> -->
    <!-- Starrt Header -->
    <div class="header">
      <!-- Start Slider -->
      <div class="slider">
        <div class="intro">
          <!-- Tulisan di tampilan slider -->
          <h2>PROGRAM AI MASTERY - ORBIT FUTURE ACADEMY</h2>
          <br />
          <h2>Study Independent - Batch 3</h2>
          <br />
          <button>PROYEK AKHIR - ASIMO 01</button>
        </div>
      </div>
      <!-- End Slider -->

      <!-- Start Navbar -->
      <div class="navbar">
        <div class="container">
          <h2 class="logo fl-left">pre<span>Dict Apli</span>cation</h2>
          <ul>
            <li><a href="" class="active">Home</a></li>
            <li><a href="#aboutUs">About Us</a></li>
            <li><a href="#resume">Resume</a></li>
            <li><a href="#testemonials">Testimonials</a></li>
            <li><a href="#portofolio">Portofolio</a></li>
            <li><a href="#contactUs">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <!-- End Navbar -->
    </div>
    <!-- End Header -->

    <!-- Start Features -->
    <div class="features">
      <div class="container">
        <h2>Tentang Orbit Future Academy</h2>
        <div class="feat fl-left">
          <h2>Orbit Future Academy</h2>
          <p>
            Orbit future academy didirikan dengan tujuan untuk meningkatkan
            kualitas hidup melalui inovasi, pendidikan, dan pelatihan
            keterampilan. Label atau brand orbit merupakan kelanjutan dari
            warisan mendiang Dr. Hasri Ainun Habibie dan Prof. Dr. ing. B. J.
            Habibie, Presiden ke-3 Republik Indonesia. Mereka berdua telah
            menjadi pergerak dalam mendukung perkembangan inovasi dan teknologi
            pendidikan di Indonesia
          </p>
        </div>
        <div class="feat fl-left">
          <h2>Program AI Mastery</h2>
          <p>
            Program AI Mastery secara daring untuk mahasiswa yang bertujuan
            bukan hanya untuk memperkenalkan dan memperdalam AI, tetapi juga
            untuk membekali mahasiswa untuk dalam menjawab tantangan
            perkembangan teknologi global yang semakin pesat. Serta memberikan
            manfaat AI secara nyata ke masyarkat. Berfokus pada komponen utama
            AI seperti Data Science (DS), Computer Vision (CV), Natural Language
            Processing (NLP), Reinforcement Learning (RL), dan Deployment (Dep).
          </p>
        </div>
      </div>
    </div>
    <!-- End Features -->

    <div class="Mentor">
      <div class="container">
        <div class="coach">
          <h2>Informasi Tentang Coach</h2>
          <br />
          <table>
            <tr>
              <th>No</th>
              <th>Nama Coach</th>
              <th>Kelas</th>
              <th>AI Domain</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Ajie Kusuma Wardhana, S.Kom., M.Eng.</td>
              <td>FIBONACCI</td>
              <td>Deployment</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Billy Nikodemus Max, S.T., M.T.</td>
              <td>PREDICT</td>
              <td>Deployment</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Farchan Hakim Raswa, S.Si., M.Cs., M.Sc</td>
              <td>VISIONER</td>
              <td>Computer Vision</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Hafizah Ilma, S.Stat</td>
              <td>INSIGHT</td>
              <td>Data Science</td>
            </tr>
            <td>5</td>
            <td>Mukhlizar Nirwan Samsuri, S.Si</td>
            <td>EUNONIA</td>
            <td>Natural Language Processing</td>
          </tr>
          <td>6</td>
          <td>Meilana Siswanto, S.T., M.Sc.</td>
          <td>ALPHAZERO</td>
          <td>Reinforcement Learning</td>
        </tr>
        <td>7</td>
        <td>Pulung Hendro Prastyo, S.ST., M.Eng.</td>
        <td>EWAKO</td>
        <td>Natural Language Processing</td>
      </tr>
    </tr>
    <td>8</td>
    <td>Ryan Satria Wijaya, S.Tr.T., M.Tr.T</td>
    <td>ULAR</td>
    <td>Reinforcement Learning</td>
  </tr>
  <tr>
    <td>9</td>
    <td>Shaifudin Zuhdi, S.Si., M.Cs.</td>
    <td>GOLDFRAB</td>
    <td>Data Science</td>
  </tr>
  <tr>
    <td>10</td>
    <td>Yoan Purbolinggo, S.Tr.T., M.T.</td>
    <td>ASIMO</td>
    <td>Computer Vision</td>
  </tr>
          </table>
        </div>
      </div>
    </div>
    <br><br>

    <!-- Start About Us -->
    <div class="about-us" id="aboutUs">
      <div class="container">
        <div class="image">
          <img
            src="{{ url_for('static',filename='img/logo asimo.png')}}"
            alt="logo"
          />
        </div>
        <div class="info fl-left">
          <h2>About Us</h2>
          <p>
            you can replace this paragraph by any other paragraph , because this
            paragraph just for testing,because this paragraph just for
            testing,because this paragraph just for testing .
          </p>
          <p>
            you can replace this paragraph by any other paragraph , because this
            paragraph just for testing,
          </p>
          <div class="hobbies">
            <div class="content fl-left">
              <div class="icon fl-left">
                <img
                  src="{{ url_for('static',filename='img/Behance.png')}}"
                  alt="behance"
                />
              </div>
              <div class="text fl-left">
                <h3>Web Design</h3>
                <p>you can replace this paragraph by any other paragraph.</p>
              </div>
            </div>

            <div class="content fl-left">
              <div class="icon fl-left">
                <img
                  src="{{ url_for('static',filename='img/Evernote.png')}}"
                  alt="envernote"
                />
              </div>
              <div class="text fl-left">
                <h3>Graphic Design</h3>
                <p>you can replace this paragraph by any other paragraph.</p>
              </div>
            </div>

            <div class="content fl-left">
              <div class="icon fl-left">
                <img
                  src="{{ url_for('static',filename='img/Github.png')}}"
                  alt="github"
                />
              </div>
              <div class="text fl-left">
                <h3>Marketing</h3>
                <p>you can replace this paragraph by any other paragraph.</p>
              </div>
            </div>

            <div class="content fl-left">
              <div class="icon fl-left">
                <img
                  src="{{ url_for('static',filename='img/Picasa.png')}}"
                  alt="picasa"
                />
              </div>
              <div class="text fl-left">
                <h3>Seo</h3>
                <p>you can replace this paragraph by any other paragraph.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End About Us -->

    <!-- Start My Skills -->
    <div class="my-skills">
      <div class="container">
        <div class="skills fl-left">
          <h2>My Skills</h2>
          <p>
            you can replace this paragraph by any other paragraph , because this
            paragraph just for testing,because this paragraph just for
            testing,because this paragraph just for testing.
          </p>
          <p>
            you can replace this paragraph by any other paragraph , because this
            paragraph just for testing,
          </p>
          <button>Contact Me</button>
        </div>
        <div class="progress fl-left">
          <div class="technique">
            <h3>Html / Css</h3>
            <div><span style="width: 80%">80%&nbsp;</span></div>
          </div>
          <div class="technique">
            <h3>PHP</h3>
            <div><span style="width: 70%">70%&nbsp;</span></div>
          </div>
          <div class="technique">
            <h3>Mysql</h3>
            <div><span style="width: 92%">92%&nbsp;</span></div>
          </div>
          <div class="technique">
            <h3>JavaScript</h3>
            <div><span style="width: 89%">89%&nbsp;</span></div>
          </div>
        </div>
      </div>
    </div>
    <!-- End My Skills -->

    <!-- Start Resume -->
    <div class="resume" id="resume">
      <div class="container">
        <h2>Resume</h2>
        <p>
          you can replace this paragraph by any other paragraph , because this
          paragraph just for testing, you can replace this paragraph by any
          other paragraph , because this paragraph just for testing.
        </p>
        <button>Download Resume</button>
      </div>
    </div>
    <!-- End Resume -->

    <!-- Start My Education -->
    <div class="my-education">
      <div class="container">
        <div class="main fl-left">
          <h2>My Education</h2>
          <p>
            you can replace this paragraph by any other paragraph , because this
            bla bla bla paragraph just for testing,because this paragraph just
            for testing
          </p>
          <p>
            you can replace this paragraph by any other paragraph , because this
            paragraph just for testing,
          </p>
        </div>
        <div class="exp fl-left">
          <div class="certified">
            <h3>Graphic Design Diploma</h3>
            <span><strong>Reeves College</strong> / June 2008 / May 2010</span
            ><br />
            <span>4.0 GPA</span>
            <hr />
            <p>
              you can replace this paragraph by any other paragraph , because
              this paragraph just for testing,because this paragraph just for
              testing
            </p>
          </div>
          <div class="certified">
            <h3>Cit Diploma</h3>
            <span
              ><strong>Lethbridge College</strong> / June 2006 / May 2008</span
            ><br />
            <span>4.0 GPA</span>
            <hr />
            <p>
              you can replace this paragraph by any other paragraph , because
              this paragraph just for testing,because this paragraph just for
              testing
            </p>
          </div>
        </div>
        <div class="clean"></div>
        <hr />

        <!-- Start My Experience -->
        <div class="main fl-left">
          <h2>My Experience</h2>
          <p>
            you can replace this paragraph by any other paragraph , because this
            paragraph just for testing,because this paragraph just for testing
          </p>
          <p>
            you can replace this paragraph by any other paragraph , because this
            paragraph just for testing,
          </p>
        </div>
        <div class="exp fl-left">
          <div class="certified">
            <h3>Lead Web Designer</h3>
            <span
              ><strong>ABC Company, Saskatoon</strong> / June 2011 -
              Present</span
            ><br />
            <span>3 Years</span>
            <hr />
            <p>
              you can replace this paragraph by any other paragraph , because
              this paragraph just for testing,because this paragraph just for
              testing
            </p>
          </div>
          <div class="certified">
            <h3>Junior Designer</h3>
            <span
              ><strong>XYZ Company, Lethbridge</strong> / June 2006 / May
              2009</span
            ><br />
            <span>1 Years</span>
            <hr />
            <p>
              you can replace this paragraph by any other paragraph , because
              this paragraph just for testing,because this paragraph just for
              testing
            </p>
          </div>
          <div class="certified">
            <h3>Web Developer</h3>
            <span
              ><strong>The Company, Lethbridge</strong> / June 2007 / May
              2008</span
            ><br />
            <span>2 Years</span>
            <hr />
            <p>
              you can replace this paragraph by any other paragraph , because
              this paragraph just for testing,because this paragraph just for
              testing
            </p>
          </div>
        </div>
        <!-- End My Experience -->
      </div>
    </div>
    <!-- End My Education -->
    <div class="clean"></div>

    <div class="testemonials" id="testemonials">
      <div class="container">
        <p>
          <q
            >you can replace this paragraph by any other paragraph , because
            this paragraph just for testing, you can replace this paragraph by
            any other paragraph , because this paragraph just for testing,
            because this paragraph just for testing , because this paragraph
            just for testing.</q
          >
        </p>
        <h2>Houari Zegai</h2>
        <ul>
          <li class="fl-left"></li>
          <li class="active fl-left"></li>
          <li class="fl-left"></li>
          <li class="fl-left"></li>
        </ul>
      </div>
    </div>
    <!-- End Testemonials -->

    <!-- Start Portofolio -->
    <div class="portofolio" id="portofolio">
      <div class="container">
        <div class="info">
          <h2>Portofolio</h2>
          <p>
            you can replace this paragraph by any other paragraph , because this
            paragraph just for testing, you can replace this paragraph by any
            other paragraph , because this paragraph just for testing.
          </p>
        </div>
        <div class="icon">
          <img src="{{ url_for('static',filename='img/1.jpg')}}" alt="1" />
        </div>
        <div class="icon">
          <img
            src="{{ url_for('static',filename='img/2.jpg')}}"
            width="360"
            height="360"
            alt="2"
          />
        </div>
        <div class="icon">
          <img src="{{ url_for('static',filename='img/3.jpg')}}" alt="3" />
        </div>
        <div class="icon">
          <img src="{{ url_for('static',filename='img/4.jpg')}}" alt="4" />
        </div>
        <div class="icon">
          <img src="{{ url_for('static',filename='img/5.png')}}" alt="5" />
        </div>
        <div class="icon">
          <img src="{{ url_for('static',filename='img/6.jpg')}}" alt="6" />
        </div>
        <div class="icon">
          <img src="{{ url_for('static',filename='img/7.jpg')}}" alt="7" />
        </div>
        <div class="icon">
          <img src="{{ url_for('static',filename='img/8.jpg')}}" alt="9" />
        </div>
        <div class="icon">
          <img src="{{ url_for('static',filename='img/9.jpg')}}" alt="9" />
        </div>
      </div>
    </div>
    <!-- End Portofolio -->

    <!-- Start Contact Us -->
    <div class="contact-us" id="contactUs">
      <div class="container">
        <div class="info fl-left">
          <h2>Contact Us</h2>
          <p>
            you can replace this paragraph by any other paragraph , because this
            paragraph just for testing, you can replace this paragraph by any
            other paragraph , because this paragraph just for testing.
          </p>
          <p>123 Street Name<br />Tiaret<br />SkSk Area</p>
          <p><strong>Email:</strong> me@email.com</p>
          <p><strong>Phone:</strong>213711112222</p>
        </div>
        <div class="form fl-left">
          <form>
            <label>Name <sup>*</sup></label>
            <input type="text" name="name" />
            <label>Email Address <sup>*</sup></label>
            <input type="text" name="name" />
            <label>Phone <sup>*</sup></label>
            <input type="text" name="name" />
            <label>Message</label>
            <textarea></textarea>
            <input type="submit" value="Contact Me" />
          </form>
        </div>
      </div>
    </div>
    <!-- End Contact Us -->

    <!-- Start Footer -->
    <div class="footer">
      <div class="container">
        <p>Copyright &copy; 2017 Houari Zegai Inc.</p>
        <ul>
          <li>
            <a href="https://www.facebook.com/HouariZegai" target="_blank"
              ><i class="fa fa-facebook-square fa-2x"></i
            ></a>
          </li>
          <li>
            <a href="https://www.twitter.com/HouariZegai" target="_blank"
              ><i class="fa fa-twitter-square fa-2x"></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/HouariZegai" target="_blank"
              ><i class="fa fa-linkedin-square fa-2x"></i
            ></a>
          </li>
          <li>
            <a href="https://www.youtube.com/HouariZegai" target="_blank"
              ><i class="fa fa-youtube-square fa-2x"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Footer -->

    <!-- <img -->
    <!-- src="{{ url_for('static',filename='img/logo asimo.png')}}" -->
    <!-- id="logo" -->
    <!-- width="300px" -->
    <!-- /> -->
    <!-- <p>{{ kalimat }}</p> -->
    <!-- </div> -->
  </body>
</html>
